body {
    background: #faf9f7;
}

.ad-nav {
    height: 40px;
}

.ad-nav ul {
    list-style: none;
    margin-left: 50px;
    align: center;
}

.ad-nav li {
    display: inline;
    line-height: 40px;
}

.ad-nav a {
    text-decoration: none;
    padding: 20px 20px;
}

.ad-nav a:hover {}

.footer {
    left: 0px;
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    bottom: 0px;
    float: clear;
}
