<div style="padding: 10px 30px 10px;">
    <div id="input">
        <h1 style="text-align:center;">Post Carrier</h1>
        <form role="form">
            <div id="method">
                <label>Method</label>
                <br />
                <label style="width:80px;">&emsp;</label>
                <label class="checkbox-inline">
                    <input type="radio" name="method" value="GET" checked> GET
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="method" value="POST"> POST
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="method" value="PUT"> PUT
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="method" value="DELETE"> DELETE
                </label>
            </div>
            <div class="form-group">
                <label>Url</label>
                <br />
                <input type="text" class="form-control" id="url" placeholder="http://">
                <label>Params</label>
                <textarea class="form-control" rows="3" id="params"></textarea>
            </div>
            <button type="button" class="btn btn-info" style="float:right;" ng-click="sendRequest()">Send</button>
            <button type="button" class="btn btn-info" style="float:right;margin-right:8px;" ng-click="ClearResponse()">Clear</button>
        </form>
    </div>
    <br />
    <br />
    <hr>
    <div>
        <h3>Result</h3>
        <div class="form-group">
            <textarea id="text_result" class="form-control" rows="5"></textarea>
        </div>
        <div id="html_result">
        </div>
        <div id="json_result">
        </div>
    </div>
</div>
