<div class="container">

<div class="form">
    
<form action="">
    <div class="form-group ip-form">
        <h4>MAC</h4>
        <div ng-repeat="(key, value) in data.MAC">
            <p>{{ key }}</p><input type="text" class="form-control" ng-model='data.MAC[key]'>
        </div>
    </div>

    <div class="form-group ip-form">
        <h4>IPv4</h4>
        <div ng-repeat="(key, value) in data.IP">
            <p>{{ key }}</p><input type="text" class="form-control" ng-model='data.IP[key]'>
        </div>
    </div>

</form>
 
</div>

<pre class="notice">

MAC TYPE should be 0x0800 ( 2048 ) when send IP packet

ihl: ip header length, should be 20
tos: type of service
    Bits 0-2:  Precedence
        111 - Network Control        
        110 - Internetwork Control   
        101 - CRITIC/ECP             
        100 - Flash Override         
        011 - Flash                  
        010 - Immediate              
        001 - Priority              
        000 - Routine   
    Bit    3:  0 = Normal Delay, 1 = Low Delay
    Bit    4:  0 = Normal Throughput, 1 = High Throughput
    Bit    5:  0 = Normal Relibility, 1 = High Relibility
    Bits 6-7:  Reserved for Future Use

Flags: 
    Bit 0: reserved, must be zero
    Bit 1: (DF) 0 = May Fragment,  1 = Don't Fragment
    Bit 2: (MF) 0 = Last Fragment, 1 = More Fragments

Protocol

Protocol Number   Host-to-Host Layer Protocol

1           Internet Control Message Protocol (ICMP)
2           Internet Group Management Protocol (IGMP)
4           IP in IP (encapsulation)
6           Transmission Control Protocol (TCP)
17          User Datagram Protocol (UDP)
45          Inter-Domain Routing Protocol (IDRP)
46          Resource Reservation Protocol (RSVP)
47          Generic Routing Encapsulation (GRE)
54          NBMA Next Hop Resolution Protocol (NHRP)
88          Cisco Internet Gateway Routing Protocol (IGRP)
89          Open Shortest Path First (OSPF)

</pre>

</div>
