<div class="container">

<div class="form">

<form action="">

    <div class="form-group ip-form">
        <h4>MAC</h4>
        <div ng-repeat="(key, value) in data.MAC">
            <p>{{ key }}</p><input type="text" class="form-control" ng-model='data.MAC[key]'>
        </div>
    </div>

    <div class="form-group ip-form">
        <h4>IPv4</h4>
        <div ng-repeat="(key, value) in data.IP">
            <p>{{ key }}</p><input type="text" class="form-control" ng-model='data.IP[key]'>
        </div>
    </div>

    <div class="form-group ip-form">
        <h4>TCP</h4>
        <div ng-repeat="(key, value) in data.TCP">
            <p>{{ key }}</p><input type="text" class="form-control" ng-model='data.TCP[key]'>
        </div>
    </div>

</form>

</div>

<pre class="notice">

TCP Header Format

0                   1                   2                   3
0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|          Source Port          |       Destination Port        |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                        Sequence Number                        |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                    Acknowledgment Number                      |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|  Data |           |U|A|P|R|S|F|                               |
| Offset| Reserved  |R|C|S|S|Y|I|            Window             |
|       |           |G|K|H|T|N|N|                               |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|           Checksum            |         Urgent Pointer        |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                    Options                    |    Padding    |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
|                             data                              |
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

CWR Congestion Window Reduced
ECE ECN Echo
URG Urgent
ACK Acknowledgment
PSH Push
RST Reset the connection
SYN Synchronize sequence numbers to initiate a connection
FIN The sender of the segment is finished sending data to its peer

==============================================

TCP Connection Established

           SYN = 1, seq = x
Client -------------------------> Server

           SYN = 1, ACK = 1
Client <------------------------- Server
          seq = y, ack = x + 1

                SYN = 1
Client --------------------------> Server        
        seq = x + 1, ack = y + 1

==============================================

TCP Connection Closed

           FIN = 1, seq = u
Client -------------------------> Server

                ACK = 1
Client <------------------------- Server
          seq = v, ack = u + 1

          FIN = 1,  ACK = 1
Client --------------------------> Server        
        seq = w, ack = u + 1

                ACK = 1
Client -------------------------> Server
        seq = u + 1, ack = w + 1

==============================================

The TCP option values

1 byte kind, 1 byte length, n byte info

Kind    Length      Name
0       1           EOL
1       1           NOP
2       4           MSS
3       3           WSOPT 
4       2           SACK-Permitted
5       Var.        SACK
8       10          TSOPT
28      4           UTO
29      Var.        TCP-AO
253     Var.        Experimental
254     Var.        Experimental

</pre>

</div>
 
